<div>
  <div>
    <h1>
      Likes
    </h1>
  </div>
</div>
<dd>
  <a href="/users/<%= @the_photo.album.owner.username %>/albums/<%= @the_photo.album.title %>/photos/<%= @the_photo.id %>">Go back to photo</a>
</dd>

<dd>
  <img src="<%= @the_photo.image %>">
</dd>

<hr>

<div>
  <div>
    <h2>
      Like this photo
    </h2>

    <% if @the_photo.fans.where({ :id => @current_user.id }).first == nil %>
      <form action="/insert_like" method="post">

        <div>
          <input type="hidden" id="photo_id_box" name="query_photo_id" value="<%= @the_photo.id %>">
        </div>

        <button>
          Like
        </button>
      </form>
    <% else %>
      <% the_like = Like.where({ :photo_id => @the_photo.id, :user_id => @current_user.id }).first%>
      <form action="/delete_like/<%= the_like.id %>"

        <div>
          <input type="hidden" id="photo_id_box" name="query_photo_id" value="<%= @the_photo.id %>">
        </div>

        <button>
          Unlike
        </button>
      </form>
    <% end %>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          User
        </th>

      </tr>

      <% @list_of_likes.each do |a_like| %>
      <tr>

        <td>
          <%= a_like.user.username %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
