<h1>Manage album</h1>
<dl>
  <a href="/users/<%= @the_album.owner.username %>/albums/<%= @the_album.title %>">Go back</a>
</dl>

<h2>Edit title</h2>
  <form action="/modify_album/<%= @the_album.id %>"  method="post" >

    <label for="title_box">
      Title
    </label>

    <input type="text" id="title_box" name="query_title" value="<%= @the_album.title %>">

    <button>
      Update title
    </button>
  </form>

<hr>

<h2>Add collaborators</h2>
  <div>
    <dl>
      <form action="/insert_album_invitation" method="post">
        <input id="album_id" name="query_album_id" value="<%= @the_album.id %>" type="hidden">

        <label for="invitee_box">Invite friends to add to your album</label>
        <input id="invitee_box" name="query_member_name" placeholder="Enter a friend's username..." type="text">
        
        <button>
          Invite
        </button>
      </form>
    </dl>
  </div>

  <hr>

  <h2>View Collaborators</h2>
  <div>
  <div>
    <table border="1">
      <tr>
        <th>
          User
        </th>

        <th>
          Action
        </th>

      </tr>

      <% @the_album.members.each do |a_member| %>
      <tr>

        <td>
          <a href="/users/<%= a_member.username %>"><%= a_member.username %></a>
        </td>

        <td>
          <% the_album_request = AlbumInvitation.where({ :member_id => a_member.id, :owner_id => @current_user }).first%>
          <form action="/delete_album_invitation/<%= the_album_request.id %>">
            <button>
              Delete collaborator
            </button>
          </form>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>
