<div>
  <div>
    <h1>
      <%= @the_album.title %>
    </h1>

    <div>
      <div>
        <a href="/users/<%= @the_album.owner.username%>">
          Go back
        </a>
      </div>

      <% if @the_album.owner.id != @current_user.id %>
        <div>
          <a href="/delete_album_invitation/<%= @the_album.id %>">
            Leave album
          </a>
        </div>
      <% end %>
    </div>

    <dl>
      <dt>
        Album owner
      </dt>
      <dd>
        <%= @the_album.owner.username %>
      </dd>

      <dt>
        Title
      </dt>
      <dd>
        <%= @the_album.title %>
      </dd>

      <dt>
        Created at: <%= time_ago_in_words(@the_album.created_at) %> ago
      </dt>


      <dt>
        Updated at: <%= time_ago_in_words(@the_album.updated_at) %> ago
      </dt>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <% if @the_album.owner.id == @current_user.id %>
      <h2>
        <a href="/users/<%= @the_album.owner.username%>/albums/<%= @the_album.title %>/edit">
          Manage album
        </a>
      </h2>
      <hr>
    <% end %>

    <h2>Add photo</h2>
    <form action="/insert_photo/"  method="post" >
      
      <input type="hidden" id="user_box" name="query_album_id" value="<%= @the_album.id %>">
      <div>
        <label for="caption_box">
          Caption
        </label>

        <input type="text" id="caption_box" name="query_caption" rows="3" placeholder="Enter a caption...">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" placeholder="Link your photo...">
      </div>


      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" placeholder="Add a location...">
      </div>

      <button>
        Add photo
      </button>
    </form>

  </div>
</div>

<hr>
<h2>Photos</h2>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Caption
        </th>

        <th>
          Image
        </th>

        <th>
          Added by
        </th>

        <th>
          Location
        </th>

        <th>
          Likes count
        </th>

        <th>
          Comments count
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>

      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <img src="<%= a_photo.image %>">
        </td>

        <td>
          <a href="/users/<%= a_photo.owner.username %>"><%= a_photo.owner.username %></a>
        </td>

        <td>
          <%= a_photo.location %>
        </td>

        <td>
          <%= a_photo.likes_count %>
        </td>

        <td>
          <%= a_photo.comments_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>

        <td>
          <a href="/users/<%= @the_album.owner.username %>/albums/<%= @the_album.title %>/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
