<div>
  <div>
    <h1>
      <%= @the_user.username %>'s Friends
    </h1>
  </div>
</div>

<hr>

<% if @the_user.id == @current_user.id %>
  <dl>Received requests
    <% if @received_friend_requests == nil %>
      <dd> No pending requests for now! <dd>
    <% else %>
      <div>
        <div>
          <table border="1">
            <tr>

              <th>
                Sender
              </th>

              <th>
                Received
              </th>

              <th>
                Action
              </th>
            </tr>

            <% @received_friend_requests.each do |a_friend_request| %>
            <tr>

              <td>
                <% @the_sender = User.where({ :id => a_friend_request.sender_id }).first.username %>
                <%= @the_sender %>
              </td>

              <td>
                <%= time_ago_in_words(a_friend_request.created_at) %> ago
              </td>

              <td>
                <a href="/accept_friend_request/<%= a_friend_request.id %>">
                  Accept request
                </a>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>
  </dl>

  <dl>Sent requests
    <% if @sent_friend_requests == nil %>
      <dd> No pending requests for now! <dd>
    <% else %>
      <div>
        <div>
          <table border="1">
            <tr>

              <th>
                User
              </th>

              <th>
                Sent
              </th>

              <th>
                Action
              </th>
            </tr>

            <% @sent_friend_requests.each do |a_friend_request| %>
            <tr>

              <td>
                <% @the_recipient = User.where({ :id => a_friend_request.recipient_id }).first.username %>
                <%= @the_recipient %>
              </td>

              <td>
                <%= time_ago_in_words(a_friend_request.created_at) %> ago
              </td>

              <td>
                <a href="/users/<%= @the_recipient %>">
                  View profile
                </a>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>
  </dl>
<% end %>

<dl>All friends
  <% if @list_of_friend_requests == nil %>
    <dd> No friends yet! <dd>
  <% else %>
    <div>
      <div>
        <table border="1">
          <tr>

            <th>
              User
            </th>

            <th>
              Friends since
            </th>

            <th>
              Action
            </th>
          </tr>

          <% @list_of_friend_requests.each do |a_friend_request| %>
          <tr>

            <td>
              <% @the_recipient = User.where({ :id => a_friend_request.recipient_id }).first.username %>
              <%= @the_recipient %>
            </td>

            <td>
              <%= time_ago_in_words(a_friend_request.created_at) %> ago
            </td>

            <td>
              <a href="/users/<%= @the_recipient %>">
                View profile
              </a>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</dl>

<hr>
