<div>
  <div>
    <h1>
      <%= @the_user.username %>'s Friends
    </h1>
  </div>
</div>

<hr>

<% if @the_user.id == @current_user.id %>
  <dl>Received requests
    <% if @received_friend_requests.first == nil %>
      <dd> No pending requests for now! <dd>
    <% else %>
      <div>
        <div>
          <table border="1">
            <tr>

              <th>
                Sender
              </th>

              <th>
                Received
              </th>

              <th>
                Action
              </th>
            </tr>

            <% @received_friend_requests.each do |a_friend_request| %>
            <tr>

              <td>
                <% @the_sender = User.where({ :id => a_friend_request.sender_id }).first.username %>
                <a href="/users/<%= @the_sender %>"><%= @the_sender %></a>
              </td>

              <td>
                <%= time_ago_in_words(a_friend_request.created_at) %> ago
              </td>

              <td>
                <form action="/accept_friend_request/<%= a_friend_request.id %>" method="post">
                  <button>
                    Accept request
                  </button>
                </form>
                <form action="/delete_friend_request/<%= a_friend_request.id %>" method="post">
                  <button>
                    Delete request
                  </button>
                </form>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>
  </dl>

  <dl>Sent requests
    <% if @sent_friend_requests.first == nil %>
      <dd> No pending requests for now! <dd>
    <% else %>
      <div>
        <div>
          <table border="1">
            <tr>

              <th>
                User
              </th>

              <th>
                Sent
              </th>

              <th>
                Action
              </th>
            </tr>

            <% @sent_friend_requests.each do |a_friend_request| %>
            <tr>

              <td>
                <% @the_recipient = User.where({ :id => a_friend_request.recipient_id }).first.username %>
                <a href="/users/<%= @the_recipient %>">
                  <%= @the_recipient %>
                </a>
              </td>

              <td>
                <%= time_ago_in_words(a_friend_request.created_at) %> ago
              </td>

              <td>
                <form action="/delete_friend_request/<%= a_friend_request.id %>" method="post">
                <button>
                  Delete request
                </button>
              </form>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>
  </dl>
<% end %>

<dl>All friends
  <% if @list_of_friends.first == nil %>
    <dd> No friends yet! <dd>
  <% else %>
    <div>
      <div>
        <table border="1">
          <tr>

            <th>
              User
            </th>

            <th>
              Friends since
            </th>

            <th>
              Action
            </th>
          </tr>

          <% @list_of_friends.each do |a_friend_request| %>
          <tr>

            <td>
              <% if @the_user.id == User.where({ :id => a_friend_request.recipient_id }).first.id %>
                <% @the_friend = User.where({ :id => a_friend_request.sender_id }).first.username %>
              <% else %>
                <% @the_friend = User.where({ :id => a_friend_request.recipient_id }).first.username%>
              <% end %>
              <a href="/users/<%= @the_friend %>">
                <%= @the_friend %>
              </a>
            </td>

            <td>
              <%= time_ago_in_words(a_friend_request.created_at) %> ago
            </td>

            <td>
              <form action="/delete_friend_request/<%= a_friend_request.id %>" method="post">
                <button>
                  Remove friend
                </button>
              </form>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</dl>

<hr>
