<h1><%= @the_user.username %></h1>

<% if @the_user.id == @current_user.id %>
  <h3> My Friends (<%#= @current_user.%> pending)</h3>
<% else %>
  <h3> Friends </h3>
<% end %>


<hr>
<% if @the_user.id == @current_user.id %>
  <h2>My Albums</h2>
  <dl>Create New Album</dl>

  <table border="1">
    <tr>
      <th>
        Image
      </th>

      <th>
        Name
      </th>

      <th>
      </th>
    </tr>

    <% @list_of_my_albums.each do |an_album| %>
    <tr>

      <td>
        <img src="<%= an_album.image %>">
      </td>

      <td>
        <%= an_album.name %>
      </td>

      <td>
        <a href="/albums/<%= an_album.id %>">
          Go to album
        </a>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>

<h2>All Albums</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
    </th>
  </tr>

  <% @current_user.albums.each do |an_album| %>
  <tr>

    <td>
      <img src="<%= an_album.image %>">
    </td>

    <td>
      <%= an_album.name %>
    </td>

    <td>
      <a href="/albums/<%= an_album.id %>">
        Go to album
      </a>
    </td>
  </tr>
  <% end %>
</table>
