<h1><%= @the_user.username %></h1>

<% if @the_user.id == @current_user.id %>
  <h3> 
    <a href="/users/<%= @the_user.username %>/friends"> 
      My Friends (<%= @total_friends %>)
    </a>
  </h3>
<% else %>
  <% if @no_connection %>
      <form action="/insert_friend_request" method="post">
        <input id="recipient_id" name="query_recipient_id" value=<%= @the_user.id %> type="hidden">
        <button>
          Add <%= @the_user.username %> as a friend
        </button>
      </form>
  <% elsif @the_friend_request_sent != nil and @the_friend_request_sent.status == "Pending" %>
    <dl>Friend request pending</dl>
  <% elsif @the_friend_request_received != nil and @the_friend_request_received.status == "Pending" %>
    <dl>
      <form action="/accept_friend_request/<%= @the_friend_request_received.id %>" method="post">
        <button>
          Accept request
        </button>
      </form>
      <form action="/delete_friend_request/<%= @the_friend_request_received.id %>" method="post">
        <button>
          Delete request
        </button>
    </dl>
  <% end %>
  <h3> 
    <a href="/users/<%= @the_user.username %>/friends"> 
      Friends 
    </a>
  </h3>
<% end %>


<hr>
<% if @the_user.id == @current_user.id %>
  <h2>My Albums</h2>
  <dl>
    <form action="/insert_album" method="post">
      <label for="title_box">Create new album</label>
      <input id="title_box" name="query_title" placeholder="Enter a title..." type="text">
      <button>
        Create new album
      </button>
    </form>
  </dl>

  <table border="1">
    <tr>
      <th>
        Image
      </th>

      <th>
        Name
      </th>

      <th>
      </th>
    </tr>

    <% @list_of_my_albums.each do |an_album| %>
    <tr>

      <td>
        <%= cover_photo = an_album.photos.first %>
        <% if cover_photo == nil %>
          No images uploaded yet :(
        <% else %>
          <img src="<%= an_album.photos.first.image %>">
        <% end %>
      </td>

      <td>
        <%= an_album.title %>
      </td>

      <td>
        <a href="/users/<%= @the_user.username %>/<%= an_album.title %>">
          Go to album
        </a>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>

<% if @the_user.id == @current_user.id or @are_friends %>
  <% if @are_friends %>
    <div>
      <form action="/delete_friend_request/<%= @friendship.id %>" method="post">
        <button>
          Remove friend
        </button>
      </form>
    </div>
  <% end %>
  <h2>All Albums</h2>

  <table border="1">
    <tr>
      <th>
        Image
      </th>

      <th>
        Name
      </th>

      <th>
      </th>
    </tr>

    <% @current_user.albums.each do |an_album| %>
    <tr>

      <td>
        <%= cover_photo = an_album.photos.first %>
        <% if cover_photo == nil %>
          No images uploaded yet :(
        <% else %>
          <img src="<%= an_album.photos.first.image %>">
        <% end %>
      </td>

      <td>
        <%= an_album.name %>
      </td>

      <td>
        <a href="/users/<%= @the_user.username %>/<%= an_album.title %>">
          Go to album
        </a>
      </td>
    </tr>
    <% end %>
  </table>
<% else %>
  <dl>Must be friends to see <%= @the_user.username %>'s albums</dl>
<% end %>
